<div style="position:relative">

	<div style="position:absolute;width:200px;right:10px;background-color:beige;height:100px;padding:4px;border-radius:5px;border:solid blue">
	<h4>Kitty Cart</h4>
	<div id="cart_msg">
		<% if @cart.count <= 0 %>
	You have nothing for your kitties here
		<% else %>
	You have <%= pluralize(@cart.count, "item") %> in your cart
	 	<% end %>

	</div>
	</div>

	<h1>Welcome to Thundercats!</h1><br/>
	<div class="cats">
		<% @categories.each do |category| %>
		<button><%= category.name %></button>
		<% end %>
		
	</div>
	<div>
	<% @products.each do |product| %>
		<div class="product-bubble">
		 <h3><u><%= product.name %></u></h3>
		 	by <em><%= product.brand %></em><hr/>
		 		<div class="description">
		 			<%= product.description %><hr/>
		 		<div class="price">
		 			<%= number_to_currency product.unit_price %>
		 		</div>
		 		
		 		Quantity: 
		 			<input type="text" class="quantity" placeholder="How many?"/>
		 			<button class="add-to-cart-button" data-product-id="<%= product.id %>">Add to Cat</button>
	 	</div>
	 </div>
	<% end %>
	</div>
</div>
