<div class="cart-panel">

	<div class="cart">
		<h4><u>Kitty Cart</u></h4>
	<div id="cart_msg">
		<%= render "cart" %>
	</div>
	</div>

	<h1>Welcome to Thundercats!</h1><br/>
	
	<div>
	<% @products.each do |product| %>
		<div class="product-bubble">
		 <h3><u><%= product.name %></u></h3>
		 	by <em><%= product.brand %></em><hr/>
		 		<div class="description">
		 			<%= product.description %><hr/>
		 		<div class="price">
		 			<%= number_to_currency product.unit_price %>
		 		</div>
		 		
		 		Quantity: 
		 			<input type="text" class="quantity" placeholder="How many?"/>
		 			<button class="add-to-cart-button" 
		 			data-product-id="<%= product.id %>"
		 			data-product-name="<%= product.name %>"
		 			data-price="<%= product.unit_price %>">
		 			Add to Cat</button>
	 	</div>
	 </div>
	<% end %>
	</div>
</div>
